* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
  width: 16px;
  height: 16px;
}

.social-icon {
  width: 16px;
  height: 16px;
  color: white;
}

/* Animasi infinite scroll ke kanan */
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.scroll-wrapper {
  animation: scroll-right 25s linear infinite;
}

/* Pause animation saat hover */
.scroll-container:hover .scroll-wrapper {
  animation-play-state: paused;
}

.scroll-container {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
