<!-- Contact CTA Section -->
<section class="pt-28 pb-10">
    <div class="max-w-3xl mx-auto px-6 text-center">
        <!-- Title -->
        <h2 class="text-3xl font-bold mb-4 dark:text-white">
            Let's build something together
        </h2>

        <!-- Description -->
        <p class="text-base text-gray-600 mb-10 dark:text-gray-400">
            Feel free to reach out if you're looking for a developer, have a
            question, or just want to connect.
        </p>

        <!-- Contact Info -->
        <div class="flex flex-col sm:flex-row items-center justify-center gap-8 text-base font-medium text-gray-700">
            <a href="#" class="hover:text-blue-600 transition flex items-center gap-2 dark:text-gray-400">
                <svg data-v-15b35c9e="" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-icon customizable lucide-mail-icon lucide-mail lucide-icon customizable"
                    aria-hidden="true">
                    <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
                    <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                </svg>
                fakhrimuzakki119@gmail.com
            </a>

            <span class="hidden sm:inline text-gray-400">|</span>

            <a href="#" class="hover:text-blue-600 transition flex items-center dark:text-white">
                <img src="/images/logo/whatsapp.webp" loading="lazy" alt="whatsapp" class="size-5 aspect-square mr-2" />
                +62 878-776-18724
            </a>
        </div>
    </div>
</section>