<!-- Contact CTA Section -->
<section class="pt-28 pb-10">
    <div class="max-w-3xl mx-auto px-6 text-center">
        <!-- Title -->
        <h2 class="text-3xl font-bold mb-4 dark:text-white">
            Let's build something together
        </h2>

        <!-- Description -->
        <p class="text-base text-gray-600 mb-10 dark:text-gray-400">
            Feel free to reach out if you're looking for a developer, have a
            question, or just want to connect.
        </p>

        <!-- Contact Info -->
        <div class="flex flex-col sm:flex-row items-center justify-center gap-8 text-base font-medium text-gray-700">
            <span class="hover:text-blue-600 transition flex items-center dark:text-gray-400">
                <i data-lucide="mail" class="w-5 h-5 mr-2"></i>
                fakhrimuzakki119@gmail.com
            </span>

            <span class="hidden sm:inline text-gray-400">|</span>

            <span class="hover:text-blue-600 transition flex items-center dark:text-white">
                <img src="/images/logo/whatsapp.webp" loading="lazy" alt="whatsapp" class="size-5 aspect-square mr-2" />
                +62 878-776-18724
            </span>
        </div>
    </div>
</section>