<section class="mx-auto px-12 pt-10 mb-12">
    <div class="flex flex-col md:flex-row items-center justify-between">
        <!-- Left: Image -->
        <div class="flex-shrink-0">
            <img src="/images/profile.webp" alt="fakhri"
                class="w-80 aspect-square object-cover rounded-2xl shadow-lg" />
        </div>

        <!-- Right: Content -->
        <div class="text-center md:text-left">
            <!-- Title -->
            <h1 class="text-5xl md:text-6xl font-bold leading-tight mb-4 dark:text-white">
                Hi, I'm Fakhri 👋
            </h1>

            <!-- Subtitle -->
            <h2 class="text-2xl text-gray-600 dark:text-gray-400 font-semibold mb-6">
                Indie Hacker & Full-Stack Developer
            </h2>

            <!-- Description -->
            <p class="text-lg md:text-xl text-gray-600 leading-relaxed mb-8 max-w-3xl dark:text-gray-400">
                I build and ship digital products from scratch to production.
                Passionate about creating end-to-end solutions and turning ideas
                into fully functional applications. With expertise in both
                frontend and backend development, I handle everything from initial
                concept to deployment and maintenance.
            </p>

            <!-- Location -->
            <p class="text-gray-500 dark:text-gray-400 text-lg mb-2 flex items-center">
                <i data-lucide="map-pin" class="size-4 mr-2"></i> Indramayu, Jabar,
                Indonesia
            </p>

            <!-- Availability -->
            <p class="text-green-600 text-lg font-medium mb-8">
                ● Available for new projects
            </p>

            <!-- Buttons -->
            <div class="flex flex-col sm:flex-row gap-4 justify-center md:justify-start">
                <a href="https://wa.me/6287877618724"
                    class="px-7 py-3 rounded-xl bg-green-600 text-white text-lg font-medium hover:bg-green-700 transition flex items-center">
                    <img src="/images/logo/whatsapp.webp" alt="whatsapp" class="size-5 aspect-square mr-2" />
                    Let’s Talk
                </a>

                <a href="/cv.pdf" download
                    class="px-7 py-3 rounded-xl bg-black dark:bg-white text-white dark:text-black text-lg font-medium hover:bg-gray-900 dark:hover:bg-white/80 transition flex items-center">
                    <i data-lucide="download" class="mr-2 size-4"></i>

                    Download CV
                </a>
            </div>
        </div>
    </div>
</section>